.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(173, 217, 255);
}

.home-icon {
    height: 50px;
    background-color: rgb(187, 214, 238);
}

.nav-btns {
    padding-top: 0.8rem;
}

.listings,
.agents {
    margin-right: 0.5rem
}
