.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(173, 217, 255);
}

.home-icon {
    height: 50px;
    background-color: rgb(187, 214, 238);
}

.nav-btns {
    padding-top: 0.8rem;
}

.agents,
.listings {
    margin-right: 0.5rem;
    font-size: 18px;
    color:indianred;
    text-decoration: none;
    font-weight: 600;
    font-family: monospace;
}

.logout-btn {
    background: #343342;
    color: #fff;
    border: 1px solid #343342;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    width: 70px;
    /* min-height: 30px; */
    cursor: pointer;
    font-family:monospace;
}
